VERBOSE="True"

SALES_AGENT_PHONE_NUMBER=""

# Evolution API
EVOLUTION_API_URL="http://localhost:8080"
EVOLUTION_INSTANCE_ID=""
EVOLUTION_API_KEY=""

# Langfuse
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_SECRET_KEY=""
LANGFUSE_HOST="http://localhost:3000"

# OpenAI
OPENAI_API_KEY=""

# Numbers allowed to talk to the bot - eg: 5521994320000,554891410000
ALLOW_LIST=